@inherits XmlDocumentaionComponentBase

<div class="mbsl-responsive">
    <ul class="mbsl-ul" style="font-family:Consolas;">

        @foreach (var constructorComment in XmlDocumentationReader.GetConstructorCommets(Type))
        {
            <li>
                <ConstructorLabel ConstructorInfo="constructorComment.ConstructorInfo"></ConstructorLabel>
                @if (!string.IsNullOrWhiteSpace(constructorComment.Summary))
                {
                    <span class="summary">@constructorComment.Summary</span>
                }
            </li>
        }
    </ul>
</div>
