@inherits XmlDocumentaionComponentBase

<ul class="mbsl-ul">
    @foreach (var enumValueComment in XmlDocumentationReader.GetEnumComments(Type).ValueComments)
    {
        <li>
            @if (!string.IsNullOrWhiteSpace(enumValueComment.Summary))
            {
                <p class="summary">@enumValueComment.Summary</p>
            }
            <TypeIcon IconKey="@CodIconKey.EnumMember" /> @enumValueComment.Name
        </li>
    }
</ul>

