 
.summary {
    color: green;
}

    .summary:before {
        content: '/// ';
    }
.mbsl-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .mbsl-ul li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd
    }

        .mbsl-ul li:last-child {
            border-bottom: none
        }

 