@inherits XmlDocumentaionComponentBase
@code {
    List<MethodComment> methodComments;
    bool isBusy;

    protected async override Task OnInitializedAsync()
    {
        isBusy = true;
        await Task.Run(() => methodComments = XmlDocumentationReader.GetMethodCommets(Type));
        isBusy = false;
    }
}
@if (isBusy)
{
    <p><TypeIcon IconKey="code"></TypeIcon> Loading docs...</p>
}
else
{
    <div class="mbsl-responsive">
        <ul class="mbsl-ul" style="font-family:Consolas;">

            @foreach (var methodComment in methodComments)
            {
                <li>
                    <MethodLabel MethodInfo="methodComment.MethodInfo"></MethodLabel>
           
                    @if (!string.IsNullOrWhiteSpace(methodComment.Summary))
                    {
                        <span class="summary">@methodComment.Summary</span>
                    }
                </li>
            }
        </ul>
    </div>
}