@inherits XmlDocumentaionComponentBase
@code {
    List<MethodComment> methodComments;
    bool isBusy;

    protected async override Task OnInitializedAsync()
    {
        isBusy = true;
        await Task.Run(() => methodComments = XmlDocumentationReader.GetMethodCommets(Type));
        isBusy = false;
    }
}
@if (isBusy)
{
    <p><TypeIcon IconKey="code"></TypeIcon> Loading docs...</p>
}
else
{
    <div class="mbsl-responsive">
        <ul class="mbsl-ul" style="font-family:Consolas;">

            @foreach (var methodComment in methodComments)
            {
                <li>

                    @if (CommentDisplayType.Equals(CommentDisplayType.OnHover))
                    {
                        @if (!string.IsNullOrWhiteSpace(methodComment.Summary))
                        {
                            <TypeTip>
                                <ChildContent>
                                   <div><MethodLabel MethodInfo="methodComment.MethodInfo"></MethodLabel></div> 
                                </ChildContent>
                                <TypeTipContent>
                                    <p>@methodComment.Summary</p>
                                </TypeTipContent>
                            </TypeTip>
                        }
                        else
                        {
                        <div> <MethodLabel MethodInfo="methodComment.MethodInfo "></MethodLabel></div>  
                        }
                    }
                    else if (CommentDisplayType.Equals(CommentDisplayType.Ever))
                    {
                        <div style="display:flex; justify-content:space-between;">

                            <div><MethodLabel MethodInfo="methodComment.MethodInfo"></MethodLabel></div>
                            @if (!string.IsNullOrWhiteSpace(methodComment.Summary))
                            {
                                <div style="width:30%"><SummaryComment>@methodComment.Summary</SummaryComment></div>
                            }
                        </div>
                    }
                    else
                    {
                       <div><MethodLabel MethodInfo="methodComment.MethodInfo"></MethodLabel></div> 
                    }
                </li>
            }
        </ul>
    </div>
}