.mbsl-text-bold {
    font-size: 14px;
    font-weight: 200;
}

.mbsl-table, .mbsl-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   /* display: table*/
}

.mbsl-table-all {
    border: 1px solid #ccc
}

    .mbsl-bordered tr, .mbsl-table-all tr {
        border-bottom: 1px solid #ddd
    }

.mbsl-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.mbsl-table-all tr:nth-child(odd) {
    background-color: #fff
}

.mbsl-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}


.mbsl-centered tr th, .mbsl-centered tr td {
    text-align: center
}

.mbsl-table td, .mbsl-table th, .mbsl-table-all td, .mbsl-table-all th {
    padding: 5px 5px;
/*    display: table-cell ;*/
    text-align: left;
    vertical-align: top
}

    .mbsl-table th:first-child, .mbsl-table td:first-child, .mbsl-table-all th:first-child, .mbsl-table-all td:first-child {
        padding-left: 16px
    }

 