@inherits XmlDocumentaionComponentBase
@code {
    List<Models.PropertyComment> propertyComments;
    bool isBusy;

    protected async override Task OnInitializedAsync()
    {
        isBusy = true;
        await Task.Run(() => propertyComments = XmlDocumentationReader.GetPropertyComments(Type));
        isBusy = false;
    }
}
@if (isBusy)
{
    <p><TypeIcon IconKey="code"></TypeIcon> Properties are loading...</p>
}
else
{ 
<div class="mbsl-responsive">
    <ul class="mbsl-ul" style="font-family:Consolas;">
        @foreach (var propertyComment in propertyComments)
        {
            <li>
                @if (!string.IsNullOrWhiteSpace(propertyComment.Summary))
                {
                    <p class="summary">@propertyComment.Summary</p>
                }
                <PropertyLabel PropertyInfo="propertyComment.PropertyInfo"></PropertyLabel>
            </li>
        }
    </ul>
</div>
}