@inherits XmlDocumentaionComponentBase

<div class="mbsl-responsive">
    <table class="mbsl-table-all " style="font-family:Consolas;">
        <thead class="mbsl-text-bold">
            <tr>
                <th>Name</th>
                <th>Summary</th>
            </tr>
        </thead>
        @foreach (var propertyComment in XmlDocumentationReader.GetPropertyComments(Type))
        {
            <tr>
                <td>
                    <PropertyLabel UmlStyle="true" PropertyInfo="propertyComment.PropertyInfo"></PropertyLabel>
                </td>
                <td><p>@propertyComment.Summary</p> </td>
            </tr>
        }
    </table>
</div>