.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

.content {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

.content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -150px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover .content {
    visibility: visible;
}


.mbsl-text-bold {
    font-size: 14px;
    font-weight: 200;
}

.mbsl-image {
    max-width: 100%;
    height: auto
}

.mbsl-table, .mbsl-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.mbsl-table-all {
    border: 1px solid #ccc
}

    .mbsl-bordered tr, .mbsl-table-all tr {
        border-bottom: 1px solid #ddd
    }

.mbsl-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.mbsl-table-all tr:nth-child(odd) {
    background-color: #fff
}

.mbsl-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.mbsl-hoverable tbody tr:hover, .mbsl-ul.mbsl-hoverable li:hover {
    background-color: #ccc
}

.mbsl-centered tr th, .mbsl-centered tr td {
    text-align: center
}

.mbsl-table td, .mbsl-table th, .mbsl-table-all td, .mbsl-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

    .mbsl-table th:first-child, .mbsl-table td:first-child, .mbsl-table-all th:first-child, .mbsl-table-all td:first-child {
        padding-left: 16px
    }

.mbsl-btn, .mbsl-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

    .mbsl-btn:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    }

.mbsl-btn, .mbsl-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .mbsl-disabled, .mbsl-btn:disabled, .mbsl-button:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }

        .mbsl-disabled *, :disabled * {
            pointer-events: none
        }

        .mbsl-btn.mbsl-disabled:hover, .mbsl-btn:disabled:hover {
            box-shadow: none
        }

.mbsl-badge, .mbsl-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.mbsl-badge {
    border-radius: 50%
}

.mbsl-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .mbsl-ul li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd
    }

        .mbsl-ul li:last-child {
            border-bottom: none
        }

.mbsl-tooltip, .mbsl-display-container {
    position: relative;
}

    .mbsl-tooltip .mbsl-text {
        display: none
    }

    .mbsl-tooltip:hover .mbsl-text {
        display: inline-block
    }

.mbsl-ripple:active {
    opacity: 0.5
}

.mbsl-ripple {
    transition: opacity 0s
}

.mbsl-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.mbsl-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.mbsl-dropdown-click, .mbsl-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

    .mbsl-dropdown-hover:hover .mbsl-dropdown-content {
        display: block
    }

    .mbsl-dropdown-hover:first-child, .mbsl-dropdown-click:hover {
        background-color: #ccc;
        color: #000
    }

        .mbsl-dropdown-hover:hover > .mbsl-button:first-child, .mbsl-dropdown-click:hover > .mbsl-button:first-child {
            background-color: #ccc;
            color: #000
        }

.mbsl-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.mbsl-check, .mbsl-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.mbsl-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.mbsl-bar-block .mbsl-dropdown-hover, .mbsl-bar-block .mbsl-dropdown-click {
    width: 100%
}

    .mbsl-bar-block .mbsl-dropdown-hover .mbsl-dropdown-content, .mbsl-bar-block .mbsl-dropdown-click .mbsl-dropdown-content {
        min-width: 100%
    }

    .mbsl-bar-block .mbsl-dropdown-hover .mbsl-button, .mbsl-bar-block .mbsl-dropdown-click .mbsl-button {
        width: 100%;
        text-align: left;
        padding: 8px 16px
    }

.mbsl-main, #main {
    transition: margin-left .4s
}

.mbsl-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.mbsl-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.mbsl-bar {
    width: 100%;
    overflow: hidden
}

.mbsl-center .mbsl-bar {
    display: inline-block;
    width: auto
}

.mbsl-bar .mbsl-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.mbsl-bar .mbsl-dropdown-hover, .mbsl-bar .mbsl-dropdown-click {
    position: static;
    float: left
}

.mbsl-bar .mbsl-button {
    white-space: normal
}

.mbsl-bar-block .mbsl-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.mbsl-bar-block.mbsl-center .mbsl-bar-item {
    text-align: center
}

.mbsl-block {
    display: block;
    width: 100%
}

.mbsl-responsive {
    display: block;
    overflow-x: auto
}

.mbsl-container:after, .mbsl-container:before, .mbsl-panel:after, .mbsl-panel:before, .mbsl-row:after, .mbsl-row:before, .mbsl-row-padding:after, .mbsl-row-padding:before,
.mbsl-cell-row:before, .mbsl-cell-row:after, .mbsl-clear:after, .mbsl-clear:before, .mbsl-bar:before, .mbsl-bar:after {
    content: "";
    display: table;
    clear: both
}

.mbsl-col, .mbsl-half, .mbsl-third, .mbsl-twothird, .mbsl-threequarter, .mbsl-quarter {
    float: left;
    width: 100%
}

    .mbsl-col.s1 {
        width: 8.33333%
    }

    .mbsl-col.s2 {
        width: 16.66666%
    }

    .mbsl-col.s3 {
        width: 24.99999%
    }

    .mbsl-col.s4 {
        width: 33.33333%
    }

    .mbsl-col.s5 {
        width: 41.66666%
    }

    .mbsl-col.s6 {
        width: 49.99999%
    }

    .mbsl-col.s7 {
        width: 58.33333%
    }

    .mbsl-col.s8 {
        width: 66.66666%
    }

    .mbsl-col.s9 {
        width: 74.99999%
    }

    .mbsl-col.s10 {
        width: 83.33333%
    }

    .mbsl-col.s11 {
        width: 91.66666%
    }

    .mbsl-col.s12 {
        width: 99.99999%
    }

@media (min-width:601px) {
    .mbsl-col.m1 {
        width: 8.33333%
    }

    .mbsl-col.m2 {
        width: 16.66666%
    }

    .mbsl-col.m3, .mbsl-quarter {
        width: 24.99999%
    }

    .mbsl-col.m4, .mbsl-third {
        width: 33.33333%
    }

    .mbsl-col.m5 {
        width: 41.66666%
    }

    .mbsl-col.m6, .mbsl-half {
        width: 49.99999%
    }

    .mbsl-col.m7 {
        width: 58.33333%
    }

    .mbsl-col.m8, .mbsl-twothird {
        width: 66.66666%
    }

    .mbsl-col.m9, .mbsl-threequarter {
        width: 74.99999%
    }

    .mbsl-col.m10 {
        width: 83.33333%
    }

    .mbsl-col.m11 {
        width: 91.66666%
    }

    .mbsl-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .mbsl-col.l1 {
        width: 8.33333%
    }

    .mbsl-col.l2 {
        width: 16.66666%
    }

    .mbsl-col.l3 {
        width: 24.99999%
    }

    .mbsl-col.l4 {
        width: 33.33333%
    }

    .mbsl-col.l5 {
        width: 41.66666%
    }

    .mbsl-col.l6 {
        width: 49.99999%
    }

    .mbsl-col.l7 {
        width: 58.33333%
    }

    .mbsl-col.l8 {
        width: 66.66666%
    }

    .mbsl-col.l9 {
        width: 74.99999%
    }

    .mbsl-col.l10 {
        width: 83.33333%
    }

    .mbsl-col.l11 {
        width: 91.66666%
    }

    .mbsl-col.l12 {
        width: 99.99999%
    }
}

.mbsl-rest {
    overflow: hidden
}

.mbsl-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.mbsl-content, .mbsl-auto {
    margin-left: auto;
    margin-right: auto
}

.mbsl-content {
    max-width: 980px
}

.mbsl-auto {
    max-width: 1140px
}

.mbsl-cell-row {
    display: table;
    width: 100%
}

.mbsl-cell {
    display: table-cell
}

.mbsl-cell-top {
    vertical-align: top
}

.mbsl-cell-middle {
    vertical-align: middle
}

.mbsl-cell-bottom {
    vertical-align: bottom
}

.mbsl-hide {
    display: none !important
}

.mbsl-show-block, .mbsl-show {
    display: block !important
}

.mbsl-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .mbsl-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .mbsl-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .mbsl-modal {
        padding-top: 30px
    }

    .mbsl-dropdown-hover.mbsl-mobile .mbsl-dropdown-content, .mbsl-dropdown-click.mbsl-mobile .mbsl-dropdown-content {
        position: relative
    }

    .mbsl-hide-small {
        display: none !important
    }

    .mbsl-mobile {
        display: block;
        width: 100% !important
    }

    .mbsl-bar-item.mbsl-mobile, .mbsl-dropdown-hover.mbsl-mobile, .mbsl-dropdown-click.mbsl-mobile {
        text-align: center
    }

        .mbsl-dropdown-hover.mbsl-mobile, .mbsl-dropdown-hover.mbsl-mobile .mbsl-btn, .mbsl-dropdown-hover.mbsl-mobile .mbsl-button, .mbsl-dropdown-click.mbsl-mobile, .mbsl-dropdown-click.mbsl-mobile .mbsl-btn, .mbsl-dropdown-click.mbsl-mobile .mbsl-button {
            width: 100%
        }
}

@media (max-width:768px) {
    .mbsl-modal-content {
        width: 500px
    }

    .mbsl-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .mbsl-modal-content {
        width: 900px
    }

    .mbsl-hide-large {
        display: none !important
    }

    .mbsl-sidebar.mbsl-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .mbsl-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .mbsl-sidebar.mbsl-collapse {
        display: none
    }

    .mbsl-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .mbsl-auto {
        max-width: 100%
    }
}

.mbsl-top, .mbsl-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.mbsl-top {
    top: 0
}

.mbsl-bottom {
    bottom: 0
}

.mbsl-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

.mbsl-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.mbsl-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.mbsl-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.mbsl-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.mbsl-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.mbsl-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.mbsl-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.mbsl-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mbsl-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mbsl-display-container:hover .mbsl-display-hover {
    display: block
}

.mbsl-display-container:hover span.mbsl-display-hover {
    display: inline-block
}

.mbsl-display-hover {
    display: none
}

.mbsl-display-position {
    position: absolute
}

.mbsl-circle {
    border-radius: 50%
}

.mbsl-round-small {
    border-radius: 2px
}

.mbsl-round, .mbsl-round-medium {
    border-radius: 4px
}

.mbsl-round-large {
    border-radius: 8px
}

.mbsl-round-xlarge {
    border-radius: 16px
}

.mbsl-round-xxlarge {
    border-radius: 32px
}

.mbsl-row-padding, .mbsl-row-padding > .mbsl-half, .mbsl-row-padding > .mbsl-third, .mbsl-row-padding > .mbsl-twothird, .mbsl-row-padding > .mbsl-threequarter, .mbsl-row-padding > .mbsl-quarter, .mbsl-row-padding > .mbsl-col {
    padding: 0 8px
}

.mbsl-container, .mbsl-panel {
    padding: 0.01em 16px
}

.mbsl-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.mbsl-code, .mbsl-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px
}

.mbsl-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.mbsl-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.mbsl-card, .mbsl-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.mbsl-card-4, .mbsl-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.mbsl-spin {
    animation: mbsl-spin 2s infinite linear
}

@keyframes mbsl-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.mbsl-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.mbsl-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.mbsl-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.mbsl-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

 
 
 