@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss
@code
{
    [Inject] public IColorTheme ColorTheme { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCss.SetBootstrapCss(Theme.Bootstrap, "4.3.1");
    }
}

<div class="page">
    @*style="background-color:@ColorTheme.BackgorundColor; color:@ColorTheme.FontColor"*@
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="ml-md-auto">
                <div class="d-flex justify-content-center align-content-center">
                    <ThemeSwitcher></ThemeSwitcher>
                    <div class="justify-content-center align-content-center align-items-center d-flex">
                        <a href="https://github.com/BlazoredDocumentation/BlazorDoc" target="_blank"><i class="oi oi-code"></i>GitHub</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
