@inject IReadmePageReader readmePageReader
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img class="mb-1" src="https://www.nuget.org/Content/gallery/img/default-package-icon.svg" width="32" height="32" />
        BlazorDoc
        <p class="text-md-right text-sm-right small text-secondary" style="margin-top:-14px;">
           @($"v{System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()}")
        </p>
    </a>
 
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
 
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav nav-pills nav-stacked overflow-y-scroll">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Übersicht
                </NavLink>
            </li>
            @foreach (var page in readmePageReader.GetReadmePages())
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="@(page.Href)" Match="NavLinkMatch.All">
                        <span class="oi oi-code" aria-hidden="true"></span> @(page.Displayname)
                    </NavLink>
                </li>
            }
        </ul>
    </div>
 


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
