
@if (IsBusy)
{
<p>Lade Doku...</p>
}
else
{
    @if (type == null)
    {
        <p>@Propertyname wurde in @nameof(Assemblies) nicht gefunden</p>

        @foreach (var assembly in Assemblies)
        {
            foreach (var defindeType in assembly.DefinedTypes)
            {
                @defindeType.FullName
                <br />
            }

        }
    }
    else
    {
        <DocumentationBody Type="@type"></DocumentationBody>
    }

}


