@inherits DocumentationBodyBase

@if (IsBusy)
{
    <p>Loading docs..</p>
}
@if (Type != null && !IsBusy)
{
    @if (Heading != null)
    {
        <h1>@Heading</h1>
    }
    else
    {
        if (SourceName != null)
        {
            <h1>@SourceName</h1>
        }
    }

    <TypeInfoHeader Type="Type"></TypeInfoHeader>
 
    <p>
        @ReadmePageReader.GetReadmePage(Type)?.Shortdescription
        <b style="margin-top:-0.9rem;">@Summary</b>
        <br />
        @Description
    </p>
    @if (Type != null && !Type.IsEnum)
    {

        <br />

        <h2>Parameters</h2>
        <PropertyList Type="Type" />
        <br />

        <h2>Constructors</h2>
        <ConstructorList Type="Type" />
        <br />

        <h2>Methods</h2>
        <MethodList Type="Type" />
        <br />
        @Api


    }
    else
    {
        <h2>Enum Members</h2>
        <EnumList Type="Type"></EnumList>
    }

}




