@page "/"
@code{
    [Inject] public IReadmePageReader ReadmePageReaderService { get; set; }
    [Inject] public NavigationManager navigationManager { get; set; }
}
<h1>BlazorDoc.Components</h1>
<p>Blazor componentlibrary for creating automatic Code-Documentations</p>
<br />


 
<h2>Component Overview</h2>
<br />
<input type="search" placeholder="Search for Components..." class="form-control mr-sm-2" @bind-value="ReadmePageReaderService.SearchText" @bind-value:event="oninput" />
<br />


<div style="display: grid;  grid-template-columns:33% 33% 33%;">
    @foreach (ReadmePage readmePage in ReadmePageReaderService.GetReadmePages())
    {

    <div class="card m-4 shadow" style="cursor:pointer;" @onclick="()=>navigationManager.NavigateTo(readmePage.Href)">

        <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_179381c2f09%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_179381c2f09%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <span style="margin-right:0.6rem;"> @readmePage.Displayname</span>
                <span style="position:absolute; top:3px; right:6px;">
                    @if (readmePage.IsNew())
                    {
                        <span class="badge shadow" style="background-color:seagreen;color:white;width:5ch;margin-bottom:0.9rem">new</span>
                    }
                    else if (readmePage.IsUpdated())
                    {
                        <span class="badge shadow" style="background-color:steelblue;color:white;width:10ch;margin-bottom:0.9rem">updated</span>
                    }
                </span>
     

            </h5>
            <p class="card-text">@readmePage.Shortdescription</p>
            <button @onclick="()=>navigationManager.NavigateTo(readmePage.Href)" class="btn btn-primary">Show</button>
        </div>
 
    </div>

    }
</div>
