@page "/method-label"
@attribute [ReadmePageInfo(CreatedAt = "07.05.2021", UpdatedAt ="19.05.2021",
            ShortDescription = "Creats a syntaxhighlighted label for mehtods of a class")]

<Documentation TComponent="MethodLabel">
    <Description>
        <MethodLabel MethodInfo="@typeof(PropertyLabel).GetMethod(nameof(PropertyLabel.ToString))"></MethodLabel>
    </Description>
    <Examples>

        <h2>Virtual Method</h2>
        <MethodLabel MethodInfo="@typeof(PropertyLabel).GetMethod(nameof(PropertyLabel.ToString))"></MethodLabel>

        <h2>Public Method</h2>
        <MethodLabel MethodInfo="@typeof(PropertyLabel).GetMethod(nameof(Person.GetType))"></MethodLabel>
    </Examples>
</Documentation>