@page "/method-list"
@attribute [ReadmePageInfo(CreatedAt = "01.03.2021", UpdatedAt = "19.05.2021",
                ShortDescription = "Creates an overview about methods of a class")]

<Documentation TComponent="MethodList">
 <Description></Description>
 <Examples>
     <h2>@nameof(Templator<Person>) of @nameof(Templator<Person>)</h2>
     <MethodList Type="typeof(DummyTypes.Templator<Person>)"></MethodList>
 </Examples>
</Documentation>