@page "/method-list"
@attribute [ReadmePageInfo(CreatedAt = "01.03.2021", UpdatedAt = "01.05.2021",
                ShortDescription = "Creates an overview about porpertys of a Class")]

<Documentation TComponent="MethodList">
 <Description></Description>
 <Examples>
     <h2>@nameof(Templator<object>) of @nameof(Templator<object>)</h2>
     <MethodList Type="typeof(DummyTypes.Templator<object>)"></MethodList>
 </Examples>
</Documentation>