@page "/type-link"
@attribute [ReadmePageInfo(CreatedAt = "02.03.2021", UpdatedAt = "01.05.2021",
         ShortDescription = "Represents a href for Types")]
<Documentation TComponent="TypeLink">
    <Readme>
        The TypeLink represents a href for Types. It can navigates to <TypeLink Type="typeof(TypeDetailsPage)"><TypeLabel /></TypeLink> <br />
        Use <TypeLink Type="typeof(TypeDetailsPageBody)"><TypeLabel /></TypeLink> to Create your own Details Pages <br />
    </Readme>

    <Examples>
        <h2>Typelink with a custom text</h2>
        <TypeLink Type="typeof(Person)">@typeof(Person).FullName</TypeLink>

        <h2>Typelink with a TypeLabel</h2>
        <TypeLink Type="typeof(Person)"><TypeLabel /></TypeLink>

        <h2>Links to Generic Types</h2>
        <TypeLink Type="typeof(Templator<object>)"><TypeLabel /></TypeLink>
        <TypeLink Type="typeof(Templator<Person>)"><TypeLabel /></TypeLink>
    </Examples>
</Documentation>