@page "/type-info-header"
@attribute [ReadmePageInfo(CreatedAt = "02.03.2021", UpdatedAt = "19.05.2021",
ShortDescription = "Serves information about the namespace and the basetype")]
<Documentation TComponent="TypeInfoHeader">
    <Description>
        The TypeInfoHeader is can used to display the Namespace and the BaseType.
    </Description>
    <Examples>
        <h3>This is a Typeinfoheader of @nameof(Person)</h3>
        <TypeInfoHeader Type="typeof(Person)"></TypeInfoHeader>
        <hr />
        <h3>This is a Typeinfoheader of <TypeLabel Type="typeof(Templator<Person>)"></TypeLabel></h3>
        <TypeInfoHeader Type="typeof(Templator<Person>)"></TypeInfoHeader>
    </Examples>
</Documentation>